--
-- PostgreSQL database dump
--

\restrict mR1a4f6IAnrJBey1lnmiEQ1eKfQwEGqJN8NlHiNvjNF0ByDdhhzn0umporv3iT9

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: commerce_transactions; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.commerce_transactions (
    id integer NOT NULL,
    freight_id integer,
    material_id integer,
    quantity integer,
    unit_price integer,
    type character varying,
    market character varying,
    executed_at timestamp without time zone
);


ALTER TABLE public.commerce_transactions OWNER TO sc_user;

--
-- Name: commerce_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.commerce_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commerce_transactions_id_seq OWNER TO sc_user;

--
-- Name: commerce_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.commerce_transactions_id_seq OWNED BY public.commerce_transactions.id;


--
-- Name: freight; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.freight (
    id integer NOT NULL,
    origin character varying,
    destination character varying,
    ship character varying,
    capacity_scu integer,
    departure_at timestamp without time zone,
    arrival_at timestamp without time zone,
    status character varying
);


ALTER TABLE public.freight OWNER TO sc_user;

--
-- Name: freight_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.freight_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.freight_id_seq OWNER TO sc_user;

--
-- Name: freight_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.freight_id_seq OWNED BY public.freight.id;


--
-- Name: market_prices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.market_prices (
    id integer NOT NULL,
    material_id integer NOT NULL,
    location text NOT NULL,
    sell_price numeric(10,2) NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    buy_price double precision,
    source text DEFAULT 'UEX'::text,
    collected_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.market_prices OWNER TO postgres;

--
-- Name: market_prices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.market_prices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.market_prices_id_seq OWNER TO postgres;

--
-- Name: market_prices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.market_prices_id_seq OWNED BY public.market_prices.id;


--
-- Name: materials; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.materials (
    id integer NOT NULL,
    name character varying NOT NULL,
    category character varying NOT NULL,
    unit character varying NOT NULL,
    is_mineable boolean DEFAULT false,
    is_salvage boolean DEFAULT false,
    is_trade_good boolean DEFAULT false,
    buy_price double precision,
    sell_price double precision
);


ALTER TABLE public.materials OWNER TO sc_user;

--
-- Name: materials_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.materials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materials_id_seq OWNER TO sc_user;

--
-- Name: materials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.materials_id_seq OWNED BY public.materials.id;


--
-- Name: refining_jobs; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.refining_jobs (
    id integer NOT NULL,
    input_material_id integer NOT NULL,
    output_material_id integer NOT NULL,
    input_quantity integer NOT NULL,
    output_quantity integer NOT NULL,
    duration_minutes integer NOT NULL,
    started_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone,
    status character varying
);


ALTER TABLE public.refining_jobs OWNER TO sc_user;

--
-- Name: refining_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.refining_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refining_jobs_id_seq OWNER TO sc_user;

--
-- Name: refining_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.refining_jobs_id_seq OWNED BY public.refining_jobs.id;


--
-- Name: runs; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.runs (
    id integer NOT NULL,
    session_id integer,
    material_id integer,
    raw_quantity integer NOT NULL,
    location character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.runs OWNER TO sc_user;

--
-- Name: runs_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.runs_id_seq OWNER TO sc_user;

--
-- Name: runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.runs_id_seq OWNED BY public.runs.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    code character varying NOT NULL,
    type character varying NOT NULL,
    started_at timestamp without time zone,
    ended_at timestamp without time zone,
    status character varying,
    comment character varying
);


ALTER TABLE public.sessions OWNER TO sc_user;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO sc_user;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: stock; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.stock (
    id integer NOT NULL,
    material_id integer,
    quantity integer NOT NULL,
    source character varying
);


ALTER TABLE public.stock OWNER TO sc_user;

--
-- Name: stock_events; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.stock_events (
    id integer NOT NULL,
    material_id integer NOT NULL,
    quantity integer NOT NULL,
    event_type character varying NOT NULL,
    reference_type character varying,
    reference_id integer,
    created_at timestamp without time zone,
    total_value double precision DEFAULT 0 NOT NULL,
    unit_price double precision
);


ALTER TABLE public.stock_events OWNER TO sc_user;

--
-- Name: stock_events_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.stock_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_events_id_seq OWNER TO sc_user;

--
-- Name: stock_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.stock_events_id_seq OWNED BY public.stock_events.id;


--
-- Name: stock_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_id_seq OWNER TO sc_user;

--
-- Name: stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.stock_id_seq OWNED BY public.stock.id;


--
-- Name: trade_runs; Type: TABLE; Schema: public; Owner: sc_user
--

CREATE TABLE public.trade_runs (
    id integer NOT NULL,
    material_id integer NOT NULL,
    quantity integer NOT NULL,
    buy_price double precision NOT NULL,
    sell_price double precision NOT NULL,
    buy_location character varying NOT NULL,
    sell_location character varying NOT NULL,
    started_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone
);


ALTER TABLE public.trade_runs OWNER TO sc_user;

--
-- Name: trade_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: sc_user
--

CREATE SEQUENCE public.trade_runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trade_runs_id_seq OWNER TO sc_user;

--
-- Name: trade_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sc_user
--

ALTER SEQUENCE public.trade_runs_id_seq OWNED BY public.trade_runs.id;


--
-- Name: commerce_transactions id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.commerce_transactions ALTER COLUMN id SET DEFAULT nextval('public.commerce_transactions_id_seq'::regclass);


--
-- Name: freight id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.freight ALTER COLUMN id SET DEFAULT nextval('public.freight_id_seq'::regclass);


--
-- Name: market_prices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_prices ALTER COLUMN id SET DEFAULT nextval('public.market_prices_id_seq'::regclass);


--
-- Name: materials id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.materials ALTER COLUMN id SET DEFAULT nextval('public.materials_id_seq'::regclass);


--
-- Name: refining_jobs id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.refining_jobs ALTER COLUMN id SET DEFAULT nextval('public.refining_jobs_id_seq'::regclass);


--
-- Name: runs id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.runs ALTER COLUMN id SET DEFAULT nextval('public.runs_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: stock id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock ALTER COLUMN id SET DEFAULT nextval('public.stock_id_seq'::regclass);


--
-- Name: stock_events id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock_events ALTER COLUMN id SET DEFAULT nextval('public.stock_events_id_seq'::regclass);


--
-- Name: trade_runs id; Type: DEFAULT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.trade_runs ALTER COLUMN id SET DEFAULT nextval('public.trade_runs_id_seq'::regclass);


--
-- Data for Name: commerce_transactions; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.commerce_transactions (id, freight_id, material_id, quantity, unit_price, type, market, executed_at) FROM stdin;
\.


--
-- Data for Name: freight; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.freight (id, origin, destination, ship, capacity_scu, departure_at, arrival_at, status) FROM stdin;
\.


--
-- Data for Name: market_prices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.market_prices (id, material_id, location, sell_price, updated_at, buy_price, source, collected_at) FROM stdin;
\.


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: sc_user
--



--
-- Data for Name: refining_jobs; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.refining_jobs (id, input_material_id, output_material_id, input_quantity, output_quantity, duration_minutes, started_at, completed_at, status) FROM stdin;
\.


--
-- Data for Name: runs; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.runs (id, session_id, material_id, raw_quantity, location, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.sessions (id, code, type, started_at, ended_at, status, comment) FROM stdin;
\.


--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.stock (id, material_id, quantity, source) FROM stdin;
\.


--
-- Data for Name: stock_events; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.stock_events (id, material_id, quantity, event_type, reference_type, reference_id, created_at, total_value, unit_price) FROM stdin;
\.


--
-- Data for Name: trade_runs; Type: TABLE DATA; Schema: public; Owner: sc_user
--

COPY public.trade_runs (id, material_id, quantity, buy_price, sell_price, buy_location, sell_location, started_at, completed_at) FROM stdin;
1	3	100	4.5	6.2	Area18	Lorville	2025-12-23 21:49:09.387651	\N
\.


--
-- Name: commerce_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.commerce_transactions_id_seq', 1, false);


--
-- Name: freight_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.freight_id_seq', 1, false);


--
-- Name: market_prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_prices_id_seq', 93, true);


--
-- Name: materials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.materials_id_seq', 356, true);


--
-- Name: refining_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.refining_jobs_id_seq', 27, true);


--
-- Name: runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.runs_id_seq', 3, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: stock_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.stock_events_id_seq', 53, true);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.stock_id_seq', 4, true);


--
-- Name: trade_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sc_user
--

SELECT pg_catalog.setval('public.trade_runs_id_seq', 1, true);


--
-- Name: commerce_transactions commerce_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.commerce_transactions
    ADD CONSTRAINT commerce_transactions_pkey PRIMARY KEY (id);


--
-- Name: freight freight_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.freight
    ADD CONSTRAINT freight_pkey PRIMARY KEY (id);


--
-- Name: market_prices market_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_prices
    ADD CONSTRAINT market_prices_pkey PRIMARY KEY (id);


--
-- Name: materials materials_name_key; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_name_key UNIQUE (name);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: refining_jobs refining_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.refining_jobs
    ADD CONSTRAINT refining_jobs_pkey PRIMARY KEY (id);


--
-- Name: runs runs_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_code_key; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_code_key UNIQUE (code);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: stock_events stock_events_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock_events
    ADD CONSTRAINT stock_events_pkey PRIMARY KEY (id);


--
-- Name: stock stock_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: trade_runs trade_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.trade_runs
    ADD CONSTRAINT trade_runs_pkey PRIMARY KEY (id);


--
-- Name: idx_market_prices_material; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_market_prices_material ON public.market_prices USING btree (material_id);


--
-- Name: commerce_transactions commerce_transactions_freight_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.commerce_transactions
    ADD CONSTRAINT commerce_transactions_freight_id_fkey FOREIGN KEY (freight_id) REFERENCES public.freight(id);


--
-- Name: commerce_transactions commerce_transactions_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.commerce_transactions
    ADD CONSTRAINT commerce_transactions_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: market_prices market_prices_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.market_prices
    ADD CONSTRAINT market_prices_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: refining_jobs refining_jobs_input_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.refining_jobs
    ADD CONSTRAINT refining_jobs_input_material_id_fkey FOREIGN KEY (input_material_id) REFERENCES public.materials(id);


--
-- Name: refining_jobs refining_jobs_output_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.refining_jobs
    ADD CONSTRAINT refining_jobs_output_material_id_fkey FOREIGN KEY (output_material_id) REFERENCES public.materials(id);


--
-- Name: runs runs_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: runs runs_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: stock_events stock_events_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock_events
    ADD CONSTRAINT stock_events_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: stock stock_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sc_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO sc_user;


--
-- Name: TABLE market_prices; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.market_prices TO sc_user;


--
-- Name: SEQUENCE market_prices_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.market_prices_id_seq TO sc_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO sc_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO sc_user;


--
-- PostgreSQL database dump complete
--

\unrestrict mR1a4f6IAnrJBey1lnmiEQ1eKfQwEGqJN8NlHiNvjNF0ByDdhhzn0umporv3iT9

